:root {
  --primary-color: #547BF4;
  --secondary-color: #34495e;
}

.aboutus-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  width: 80%;
}

.about-left {
  width: 50%;
  padding: 20px;
}

.about-left h1 {
  color: var(--primary-color);
}

.about-left p {
  color: var(--secondary-color);
}

.about-right img {
  width: 100%;
  border-radius: 10px;
}

.features {
  text-align: center;
  width: 40%;
  margin: 100px auto;
}

.features h1 {
  color: var(--primary-color);
}

.features p {
  color: var(--secondary-color);
}

.features-block {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 80%;
}

.feature-1,
.feature-2,
.feature-3 {
  width: 30%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.feature-1 h2,
.feature-2 h2,
.feature-3 h2 {
  color: var(--primary-color);
}

.feature-1 p,
.feature-2 p,
.feature-3 p {
  color: var(--secondary-color);
}

.community {
  text-align: center;
  width: 40%;
  margin: 100px auto;
}

.community h1 {
  color: var(--primary-color);
}

.community p {
  color: var(--secondary-color);
}

.recruiters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.recruiters img {
  width: 100px;
  margin: 0 20px;
}

.btns-about {
  text-align: center;
  margin: 100px auto;
}

.btns-about .btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}

.btns-about .btn:hover {
  background-color: #3498db;
}
