.footer-container {
    background-color: #f8f9fa;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
    padding: 50px;
  }
  
  .footer-left,footer-center,footer-right {
    width: 20%;
  }
  
  .footer-left img {
    width: 100px;
  }
  
  .footer-left p {
    font-size: 14px;
    color: #777;
  }
  
 
  
  .footer-center h3,
  .footer-right h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-center ul,
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-center li,
  .footer-right li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
  }
  
  .footer-center li:hover,
  .footer-right li:hover {
    color: #007bff; 
    cursor: pointer;
  }

.copyright{
    text-align: center;
}